.el{
    border: 1px solid black;
    margin: 1px;
    text-align: center;
    height: 30px;
    cursor: pointer;

}
ul#agent {
    padding: 0;

}
ul#agent li {
    padding-right: 8px;
}
input[type="button"] {
    width: 40px;
}
.elTeamOne{
    background: #d6b67c;

}
.stayHere{
    border-radius: 50%;
}
.elTeamTwo{
    background: #6d9ed2;
}
ul{
    list-style-type: none !important;
}
body{
    background-color: #e2e6ea !important;
}
.listBtnRun{
    position: absolute;
    top:4%;
    left: 70%;
    width: auto;
    height: auto;

}
.run{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #d6b67c;
    text-align: center;
    border-radius: 50%;
    font-size: 11px;
    margin-right: 3px;
}
.action-agent ul li {
    float: left;
    cursor: pointer;
}
.action-agent ul li i{
    font-size: 30px;

}
.action-agent {
    position: absolute;
    right: 5%;
    top: 0%;
}
.json {
    margin-top: 3%;
}
ul#action_agent {
    padding: 0;
    margin: 0;
}
button#demo {
    margin-left: 50%;
}
i.fas.fa-arrow-up.up-right {transform: rotate(45deg);}

i.fas.fa-arrow-up.up-left {
    transform: rotate(-45deg);
}

i.fas.fa-arrow-up.down-right {
    transform: rotate(135deg);
}

i.fas.fa-arrow-up.down-left {
    transform: rotate(225deg);
}
.stateGame.col-sm-12 {

    background: cadetblue;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}
textarea {
    overflow: auto;
    resize: none !important;
}

strong {
    color: red;
}

.stateGame.col-sm-3 {
    color: wheat;
}
button#demo {
    margin-top: 15px;
    margin-left: 39%;
    padding: 5px 26px;
}
